<div style="display: flex; flex-direction: column; justify-content: center;">
  <div id="button1">
    <label>This dialog shows dropdown correctly: </label>
    <button type="button" 
            (click)="openDialog()"
            title="Open Dialog">
      Open Dialog
    </button>
  </div>
  <div style="height: 800px">
    <span>Scroll down to open a dialog</span> 
  </div>
  <div id="button2">
    <label>This dialog shows dropdown list with popup in incorrect position: </label>
    <button type="button" id="button2"
            (click)="openDialog()"
            title="Open Dialog">
      Open Dialog
    </button>
  </div>
  <div style="height: 100px;"></div>

</div>
