<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Open Dropdown: </label>
        <kendo-dropdownlist [data]="listItems"> </kendo-dropdownlist>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Open Calendar: </label>
        <kendo-datepicker [(value)]="today"></kendo-datepicker>
      </div>
    </div>
  </div>
  <hr />
  <div class="row" style="margin-top: 4em;">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Open Dropdown (appendTo set to 'component'): </label>
        <kendo-dropdownlist [data]="listItems"
                            [popupSettings]="{appendTo:'component'}">
        </kendo-dropdownlist>
      </div>
    </div>
  </div>
</div>
